*{
	box-sizing:border-box;
}
/*
box sizing added to ensure padding and margin are included in total width and height
*/

#bod {
	margin: 0px;
	height: 658px;
	width: 100%;
	display: inline-block;
}
#gallery{
	display: inline;
	float: left;
	width: 300px;
}

#bod .sections{
	display: inline-block;
	position: relative;
}
.myVideo {
    position: absolute;
    right: 0;
    bottom: 0; 
    overflow: hidden;
    margin-left: 20px;
    z-index: -1;

}

.main {
	position: absolute;
  	width: 100%;
  	height: 100%;
  	opacity: 1;
  	border:1px solid black;

  	padding:10px 10px 10px 0px;
  	display: inline-flex;
}

.main > section{
	float: left;
}


.container1 {
	width: 20%;
  	height:100%

  	
}
.container2 {
	width:60%;
  	height: 100%;
  	text-align: center;
  	
  	
}
.container3 {
	width: 20%;
  	height: 100%;
  	text-align: center;
  	font-weight: bold;

 }

 .menu {
 	padding-top: 100px;
 	padding-bottom: 100px;
 	transform: rotate(90deg);

 }
 .hig {
 
 	padding-top: 28px;
 	padding-bottom: 20px;
 	transform: rotate(90deg);
 }
 .slider {
 	padding-top: 100px;
 	padding-bottom: 100px;

 }

.con2{
	padding-top: 300px;
	padding-bottom: 100px;
}


.logo1 {
	padding-left: 100px;
	padding-top: 200px;
}
#pics{
	width:50%;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}
 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}
 
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #D3D3D3 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}
 
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #D3D3D3;
}

.sketch {
	width: 400px;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #D3D3D3;
}
 
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
}
 
.timeline ul li.in-view::after {
  background: #F45B69;
}
 
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}
 
.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}
 
.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}
 
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
